# Python
dist
*.egg-info
*.so
__pycache__

# Pycharm
.idea/

# VScode
.vscode/
.vscode/*
**/.vscode/*
!.vscode/extensions.json

# General
_build/
.sass-cache
_posts
_site

# saved
run/saved/*
run/yopo_trt.pth
externals/

#logs
run/utils/*.csv

# dataset
/run/yopo_sim/*
/run/yopo_gazebo/*
/run/yopo_gazebo_ascii/*
/run/rknn_quantization/*
/run/*.onnx
/run/*.pt
/run/*.pth
/run/*.rknn

